/* http://meyerweb.com/eric/tools/css/reset/
  RESET
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* MAIN CONTENT STYLES */
html, body {
	height: 100%;
	background-color: #EBEBEB;
}

.container {
	width: 100%;
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5em;
	padding-bottom: 11px;
}

h1 {
	font-size: 3em;
	margin-bottom: 11px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.15em;
}
a {
	text-decoration: none;
}

.main {
  display: block;
  position: fixed;
  width: 67%;
  min-height: 100%;
  padding: 33px;
}

.content {
	position: relative;
	padding: 22px 0;
	width: 67%;
}
p.descriptor {
	font-weight: bolder;
	line-height: 1.5em;
}

.sidebar {
  display: block;
  position: relative;
  width: 33%;
  margin-left: 67%;
}

.sideBlock {
	position: relative;
	background-color: #DEDEDE;
	width: 100%;
	height: 143px;
	margin-bottom: 22px;
	text-align: center;
	padding-top: 66px;
	-webkit-transition: all .22s ease-in-out;
	-moz-transition: all .22s ease-in-out;
	-ms-transition: all .22s ease-in-out;
	-o-transition: all .22s ease-in-out;
	transition: all .22s ease-in-out;
}

.sideBlock:hover {
	-webkit-transform: scale(1.1em) translateX(-22px);
	-moz-transform: scale(1.1) translateX(-22px);
	-ms-transform: scale(1.1) translateX(-22px);
	-o-transform: scale(1.1) translateX(-22px);
	transform: scale(1.1) translateX(-22px);
	background-color: #cb2027;
}

.sideBlock:hover h1 {
/*	-webkit-transform: translateY(1em) translateX(-3em);
	-moz-transform: translateY(1em) translateX(-3em);
	-ms-transform: translateY(1em) translateX(-3em);
	-o-transform: translateY(1em) translateX(-3em);
	transform: translateY(1em) translateX(-3em);
	font-size: 1.3em;*/
	color: white;
}

.sideBlock .blog {
	-webkit-transition: all .22s ease-in-out;
	-moz-transition: all .22s ease-in-out;
	-ms-transition: all .22s ease-in-out;
	-o-transition: all .22s ease-in-out;
	transition: all .22s ease-in-out;
	opacity: 0;
}

.sideBlock:hover .blog  {
/*	-webkit-transform: translateY(-0.35em) translateX(1.05em);
	-moz-transform: translateY(-0.35em) translateX(1.05em);
	-ms-transform: translateY(-0.35em) translateX(1.05em);
	-o-transform: translateY(-0.35em) translateX(1.05em);
	transform: translateY(-0.35em) translateX(1.05em);*/
	font-size: 1em;
	opacity: 1.0;
	color: white;
}

.sideBlock .git {
	-webkit-transition: all .22s ease-in-out;
	-moz-transition: all .22s ease-in-out;
	-ms-transition: all .22s ease-in-out;
	-o-transition: all .22s ease-in-out;
	transition: all .22s ease-in-out;
	opacity: 0;
}

.sideBlock:hover .git  {
/*	-webkit-transform: translateY(-0.35em) translateX(-0.45em);
	-moz-transform: translateY(-0.35em) translateX(-0.45em);
	-ms-transform: translateY(-0.35em) translateX(-0.45em);
	-o-transform: translateY(-0.35em) translateX(-0.45em);
	transform: translateY(-0.35em) translateX(-0.45em);*/
	opacity: 1.0;
	color: white;
	font-size: 1em;
}

.sideBlock .design {
	-webkit-transition: all .22s ease-in-out;
	-moz-transition: all .22s ease-in-out;
	-ms-transition: all .22s ease-in-out;
	-o-transition: all .22s ease-in-out;
	transition: all .22s ease-in-out;
	opacity: 0;
}

.sideBlock:hover .design  {
/*	-webkit-transform: translateY(-0.35em) translateX(1.62em);
	-moz-transform: translateY(-0.35em) translateX(1.62em);
	-ms-transform: translateY(-0.35em) translateX(1.62em);
	-o-transform: translateY(-0.35em) translateX(1.62em);
	transform: translateY(-0.35em) translateX(1.62em);*/
	opacity: 1.0;
	color: white;
	font-size: 1em;
}

.sideBlock .fun {
	-webkit-transition: all .22s ease-in-out;
	-moz-transition: all .22s ease-in-out;
	-ms-transition: all .22s ease-in-out;
	-o-transition: all .22s ease-in-out;
	transition: all .22s ease-in-out;
	opacity: 0;
}

.sideBlock:hover .fun  {
/*	-webkit-transform: translateY(-0.35em) translateX(.93em);
	-moz-transform: translateY(-0.35em) translateX(.93em);
	-ms-transform: translateY(-0.35em) translateX(.93em);
	-o-transform: translateY(-0.35em) translateX(.93em);
	transform: translateY(-0.35em) translateX(.93em);*/
	opacity: 1.0;
	color: white;
	font-size: 1em;
}

.sideBlock .contact {
	-webkit-transition: all .22s ease-in-out;
	-moz-transition: all .22s ease-in-out;
	-ms-transition: all .22s ease-in-out;
	-o-transition: all .22s ease-in-out;
	transition: all .22s ease-in-out;
	opacity: 0;
}

.sideBlock:hover .contact  {
/*	-webkit-transform: translateY(-0.35em) translateX(0.1em);
	-moz-transition: all .22s ease-in-out;
	-ms-transition: all .22s ease-in-out;
	-o-transition: all .22s ease-in-out;
	transition: all .22s ease-in-out;*/
	opacity: 1.0;
	color: white;
	font-size: 1.0em;
}

.photo {
	padding-left: 2px;
	margin-bottom: 11px;
}

.light {
	color: #BABABA;
}
